* {
    margin: 0;
    padding: 0;
    font-family: "Google Sans", sans-serif;
    box-sizing: border-box;
  }
  
  html,
  body {
    background-color: #C7BCA1;
    color: #65647C;
    font-size: 15px;
    margin: 0;
    min-width: 360px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
  }
  
  main {
    margin: 0 auto;
    max-width: 900px;
  }
 
  #form-container {
    border-radius: 8px;
    border: 0.5px solid #d3d3d3;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
      0 2px 6px 2px rgba(60, 64, 67, 0.149);
    margin: 32px auto 16px auto;
    max-width: 496px;
    transition-duration: 0.218s;
    transition-property: background, border, opacity, box-shadow, transform;
    transition-timing-function: ease-in;
  }
  
  #form {
    position: relative;
    border: none;
    margin: 1px;
    border-radius: 8px;
    transition-duration: 0.218s;
    transition-property: background, border, opacity, box-shadow, transform;
    transition-timing-function: ease-in;    
    background-color: #65647C;
  }
  
  .form-open {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
  }
  
  .header-title {
    color: #65647C;
    font-size: 2rem;
    padding-top: 4px;
    padding-left: 4px;
  }
  
  #notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #note-text, #note-title {
    width: calc(100% - 10px);
    min-height: 43px;
    margin: 0 5px;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); */
    letter-spacing: 0.00625em;
    border: 0;
    overflow: hidden;
    position: relative;
    background-color: #65647C;
    color: #F1D3B3;
  }
  

  .modal-title {
    width: calc(100% - 10px);
    min-height: 43px;
    margin: 0 5px;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.00625em;
    border: 0;
    overflow: hidden;
    position: relative;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.75rem;
    padding-bottom: 12px;
    padding-top: 16px;
    color: #65647C;

  }
  
  
  .modal-text {
    width: 100% ;
    min-height: 43px;
    margin: 0 5px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.00625em;
    border: 0;
    overflow: hidden;
    position: relative;
    color: #65647C;
    font-size: 14px;
    min-height: 46px;
    padding: 4px 16px 12px 0px;
  }
  
  #note-title {
    display: none;
    width: calc(100% - 10px);
    min-height: 43px;
    margin: 0 5px;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    border: 0;
  }
  
  #form:focus,
  input:focus {
    outline: none;
  }
  
  ::placeholder {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #F1D3B3;
  }
  
  #form-buttons {
    display: none;
    text-align: right;
  }
  
  #submit-button,
  #form-close-button {
    margin: 5px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0.01785714em;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    height: 36px;
    padding: 8px 24px;
    border-radius: 4px;
    border-color: transparent !important;
    background-color: #C7BCA1;
  }

  #submit-button:hover,
  #form-close-button:hover {
    background-color: #8B7E74;
  }
  
  .note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px;
    width: 500px;
    padding: 1vh; 
    margin: auto; 
    margin-bottom: 2vh;
    background-color: #F1D3B3;
    color: #65647C;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    transition-duration: 0.218s;
    transition-property: background, border, opacity, box-shadow, transform;
    transition-timing-function: ease-in;
  }
  
  .note:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
      0 1px 3px 1px rgba(60, 64, 67, 0.149);
  }
  
  .note-title {
    padding-top: 12px;
    letter-spacing: 0.00625em;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    min-height: 38px;
    padding: 16px 16px 0 16px;
    transition: background-color 0.218s ease-in;
    box-sizing: border-box;
    font-variant-ligatures: none;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .note-text {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
    min-height: 30px;
    letter-spacing: 0.01428571em;
    padding: 4px 16px 12px 16px;
    box-sizing: border-box;
    font-variant-ligatures: none;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .modal {
    position: fixed;
    left: 0;
    z-index: 200;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(229, 229, 229, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }
  
  .modal-content {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
      0 4px 8px 3px rgba(60, 64, 67, 0.149);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 30rem;
    border-radius: 0.5rem;
  }
  
  .modal-edit-button,
  .modal-delete-button,
  .modal-close-button {
    float: right;
    margin: 5px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0.01785714em;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    height: 36px;
    padding: 8px 24px;
    border-radius: 4px;
    border-color: transparent !important;
    background-color: #C7BCA1;
    cursor: pointer;
  }
  
  .modal-close-button:hover, .modal-delete-button:hover, .modal-edit-button:hover{
    background-color: #8B7E74;
  }
  
  .open-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }

  h3{
    text-align: center;
    padding: 5vh;
  }