@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Noto+Serif+JP&display=swap");

body{
	background:#C7BCA1;
}
.nanas{
    background-color: #8B7E74;
    font-family: 'Noto Serif JP', serif;;
}
.mangga{
    font-family: 'DM Serif Display', serif;
    color: #65647C;
}
.jeruk{
    padding: 10vh;
    background-color: #C7BCA1;
    height: 100vh;
}
.our-team{
	padding: 30px 0 40px;
	background: #65647C;
	text-align: center;
	overflow: hidden;
	position: relative;
	border-radius: 15px;
}
.our-team .pic{
	display: inline-block;
	width: 130px;
	height: 130px;
	margin-bottom: 50px;
	position: relative;
	z-index: 1;
}
.our-team .pic:before {
	content: "";
	width: 100%;
	background: #8B7E74;
	position: absolute;
	bottom: 135%;
	right: 0;
	left: 0; 
	transform: scale(3);
	transition: all 0.3s linear 0s;
}
.our-team:hover .pic:before {
	height: 100%;
}
.our-team .pic:after {
	content: "";
    width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #8B7E74;
	position: absolute;
	top: 0;
	left: 0; 
	z-index: -1;
}
.our-team .pic img {
	width: 100%;
	height: auto;
	border-radius: 50%;
	transform: scale(1);
	transition: all 0.9s ease 0s;
}
.our-team:hover .pic img {
	box-shadow: 0 0 0 14px #8B7E74;
	transform: scale(0.7);
}
.our-team .team-content {
	margin-bottom: 30px;
}
.our-team .title{
	font-size: 17px;
	font-weight: 700;
	color:#C7BCA1;
	letter-spacing: 1px;
	text-transform: capitalize;
	margin-bottom: 5px;
	font-family: 'DM Serif Display', serif;;
}
.our-team .post{
	display: block;
	font-size: 15px;
	color:#C7BCA1;
	text-transform: capitalize;
	font-family: 'Noto Serif JP', serif;;
}
.our-team .social{
    width: 100%;
	padding:0;
	margin:0;
	background: #8B7E74;
	position: absolute;
    bottom: -60px;
	left:0;
	transition: all 0.5 ease 0s;
}
.our-team:hover .social{
	bottom:0;
}
.our-team .social li{
	display: inline-block;
}
.our-team .social li a{
	display: block;
	padding:10px;
	font-size: 17px;
	color:#fff;
	transition: all 0.3s ease 0s;
}
.our-team .social li a:hover{
	color: #8B7E74;
	background: #f7f5ec;
	text-decoration: none;
}